@model GestionAutobusesAPI.Models.Horario

@{
    ViewData["Title"] = "Detalles del Horario";
}

<h2>Detalles del Horario</h2>

<div class="table-responsive">
    <table class="table table-bordered bg-white">
        <tr>
            <th>Ruta</th>
            <td>@Model.RutaId @Model.RutaId?</td>
        </tr>
        <tr>
            <th>Hora de salida</th>
            <td>@Model.FechaHoraSalida.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
        <tr>
            <th>Hora de llegada</th>
            <td>@Model.FechaHoraLlegada.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    </table>
</div>

<a class="btn btn-back" asp-action="Index">Volver a la lista</a>
