@model GestionAutobusesAPI.Models.Reserva
@{
    ViewData["Title"] = "Detalles de Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Detalles de Reserva</h1>
<div class="card">
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Pasajero</dt>
        <dd class="col-sm-9">@Model.NombrePasajero</dd>
        <dt class="col-sm-3">Cédula</dt>
        <dd class="col-sm-9">@Model.Cedula</dd>
        <dt class="col-sm-3">Horario</dt>
        <dd class="col-sm-9">@Model.HorarioId</dd>
        <dt class="col-sm-3">Fecha de Reserva</dt>
        <dd class="col-sm-9">@Model.FechaReserva</dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-custom-green">Editar</a>
    <a asp-action="Index" class="btn btn-back">Volver a la lista</a>
</div>