@model GestionAutobusesAPI.Models.Ruta
@{
    ViewData["Title"] = "Detalles de Ruta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Detalles de Ruta</h1>
<div class="card">
    <h4>Ruta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Origen</dt>
        <dd class="col-sm-9">@Model.Origen</dd>
        <dt class="col-sm-3">Destino</dt>
        <dd class="col-sm-9">@Model.Destino</dd>
        <dt class="col-sm-3">Distancia (km)</dt>
        <dd class="col-sm-9">@Model.DistanciaKm</dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-custom-green">Editar</a>
    <a asp-action="Index" class="btn btn-back">Volver a la lista</a>
</div>
