@model WebApplication1.Models.Autobus

@{
    ViewData["Title"] = "Detalles del Autobús";
}

<h2>Detalles del Autobús</h2>

<div class="table-responsive">
    <table class="table table-bordered bg-white">
        <tr>
            <th>Placa</th>
            <td>@Model.Placa</td>
        </tr>
        <tr>
            <th>Capacidad</th>
            <td>@Model.Capacidad</td>
        </tr>
        <tr>
            <th>Modelo</th>
            <td>@Model.Modelo</td>
        </tr>
    </table>
</div>
<a class="btn btn-back" asp-action="Index">Volver a la lista</a>
